mixin certification(item)
    tr(id=item.name)
        td.has-text-weight-bold
            a(class="anchor has-text-dark" href="#"+item.name)= item.name
        if item.acronym
            td= item.acronym
        else
            td
        if item.issuer
            td= item.issuer
        else
            td
        if item.description
            td= item.description
        else
            td
        if item.website
            td
                a(href=item.website class='website-link') [Website]
        else
            td
        if item.price
            td= item.price
        else
            td

