mixin ctf_platform(item)
    tr(id=item.name)
        td= item.name
        if item.website
            td
                a(href=item.website class='website-link') [Website]
        else
            td
        if item.source
            td
                a(href=item.source class='source-link') [Source]
        else
            td
        if item.description
            td= item.description
        else
            td
        if item.language
            td= item.language
        else
            td
        if item.price
            td= item.price
        else
            td
