mixin os(item)
    tr(id=item.name)
        td.has-text-weight-bold
            a(class="anchor has-text-dark" href="#"+item.name)= item.name
        td= item.base
        td= item.description
        td
            a(href=item.website class='website-link')= item.name
