extend layout/layout.pug

block content
    - var inventory = 'http://list.rawsec.ml/';
    section.section
        .container
            .content
                h2.title.is-2#about About

                p This website is fully static and hosted on 
                    a(href='https://gitlab.com/noraj/rawsec-cybersecurity-list') GitLab.com
                    | .

                p CSS is powered by 
                    a(href='http://bulma.io') Bulma
                    |  and 
                    a(href='http://sass-lang.com/') Sass
                    | .

                p Filterable and sortable tables are powered by 
                    a(href='https://koalyptus.github.io/TableFilter/') TableFilter
                    | .

                p Fancy popups are powered by 
                    a(href='https://sweetalert2.github.io/') SweetAlert2
                    | .

                p Basic icons are powered by 
                    a(href='http://fontawesome.io/') Font Awesome
                    | .

                p Programming languages and operating systems icons are powered by 
                    a(href='http://fizzed.com/oss/font-mfizz') Font Mfizz
                    | .

                p Pages and templates are powered by 
                    a(href='https://pugjs.org/') Pug
                    | .

                p Some JavaScript is powered by 
                    a(href='https://jquery.com/') jQuerry
                    | .

                p Build and workflow is powered by 
                    a(href='https://gulpjs.com/') Gulp
                    | .

                p JavaScript packages are powered by 
                    a(href='https://www.npmjs.com/') npm
                    | .

                p Content and additional code are provided by Alexandre ZANNI a.k.a 
                    a(href='https://rawsec.ml/about/noraj/') noraj
                    |  from 
                    a(href='https://rawsec.ml/') Rawsec
                    | .

                h2.title.is-2#contact Contact

                p Join us on 
                    a(href='https://discord.gg/Wspwv2h') discord
                        span.icon
                            i.fab.fa-discord
                    a(href='https://discord.gg/Wspwv2h')
                        img(alt='Rawsec discord server invite link' src='https://img.shields.io/discord/437247125508587540.svg?style=social')
                    | .

                h2.title.is-2#badges Badges / Shields

                p Thanks to 
                    a(href='https://shields.io/') ShieldsIO
                    |  we generated some badges / shields you can add to your inventoried git repository in your README for example.

                p You can add the id of your tool to the markdown link , example:
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_flat.svg)](http://list.rawsec.ml/tools.html#Metasploit)

                h3.title.is-3#flat Flat

                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_flat.svg')
                p Markdown code (version with logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_flat.svg)](http://list.rawsec.ml/)
                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_flat_without_logo.svg')
                p Markdown code (version without logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_flat_without_logo.svg)](http://list.rawsec.ml/)

                h3.title.is-3#flat-square Flat-square

                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_flat-square.svg')
                p Markdown code (version with logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_flat-square.svg)](http://list.rawsec.ml/)
                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_flat-square_without_logo.svg')
                p Markdown code (version without logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_flat-square_without_logo.svg)](http://list.rawsec.ml/)

                h3.title.is-3#plastic Plastic

                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_plastic.svg')
                p Markdown code (version with logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_plastic.svg)](http://list.rawsec.ml/)
                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_plastic_without_logo.svg')
                p Markdown code (version without logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_plastic_without_logo.svg)](http://list.rawsec.ml/)

                h3.title.is-3#for-the-badge For-the-badge

                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_for-the-badge.svg')
                p Markdown code (version with logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_for-the-badge.svg)](http://list.rawsec.ml/)
                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='img/badges/Rawsec-inventoried-FF5050_for-the-badge_without_logo.svg')
                p Markdown code (version without logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](#{inventory}img/badges/Rawsec-inventoried-FF5050_for-the-badge_without_logo.svg)](http://list.rawsec.ml/)

                h3.title.is-3#mini-icon Mini Icon

                p
                    a(href=inventory)
                        img(alt="Rawsec's CyberSecurity Inventory" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4QsBERwIK+go2wAAAOlJREFUKM+90jtLA1EQBeBv14CPQrC28y9obWGtKRIRf4CVIgFJ4z/QSqx9lDZC2M7eQrDU2sLSzgfBEMJ6baZYlvgoxANTzNxzzsy9d/hvZLjEOo5Tu32hLG9Bnu9kvV4DRzVNjusc+xiiM1MUj7iqmGZBrMY7mjkecAKDsrzB1g9TnuI1j2QXT1jIimJJlu2Fex19dOrFTST0U0oTqdXaCFKK+MDKV2PcB+k88m5FeBd3HovZcB5gviacqz9tFW84wxTWMIr6AZ6/E8J2dGhEPsShMZ9ZxwircTaNJl5+u1GTWMbin+/qJ9qfO5UF9pleAAAAAElFTkSuQmCC')
                p Mini rawsec icon (base64 image):
                    pre
                        code
                            | data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4QsBERwIK+go2wAAAOlJREFUKM+90jtLA1EQBeBv14CPQrC28y9obWGtKRIRf4CVIgFJ4z/QSqx9lDZC2M7eQrDU2sLSzgfBEMJ6baZYlvgoxANTzNxzzsy9d/hvZLjEOo5Tu32hLG9Bnu9kvV4DRzVNjusc+xiiM1MUj7iqmGZBrMY7mjkecAKDsrzB1g9TnuI1j2QXT1jIimJJlu2Fex19dOrFTST0U0oTqdXaCFKK+MDKV2PcB+k88m5FeBd3HovZcB5gviacqz9tFW84wxTWMIr6AZ6/E8J2dGhEPsShMZ9ZxwircTaNJl5+u1GTWMbin+/qJ9qfO5UF9pleAAAAAElFTkSuQmCC


block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
